@model FileWorxObjects.clsUser

@{
    ViewBag.Title = "Details";
}

<h2>User Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            <fieldset>
                <input class="form-control" id="readOnlyInput" type="text" value=" @Html.DisplayFor(model => model.Name)" readonly="">
            </fieldset>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            <fieldset>
                <input class="form-control" id="readOnlyInput" type="text" value="@Html.DisplayFor(model => model.CreationDate)" readonly="">
            </fieldset>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            <fieldset>
                <input class="form-control" id="readOnlyInput" type="text" value="@Html.DisplayFor(model => model.Username)" readonly="">
            </fieldset>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            <fieldset>
                <input class="form-control" id="readOnlyInput" type="text" value="@Html.DisplayFor(model => model.Password)" readonly="">
            </fieldset>

        </dd>

    </dl>

    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-dark" })
    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-dark" })

</div>
