@model FileWorxObjects.clsPhotos

@{
    ViewBag.Title = "Edit Details";
}

<h2>Photo Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            <fieldset>
                <input class="form-control" id="readOnlyInput" type="text" value="@Html.DisplayFor(model => model.Name)" readonly="">
            </fieldset>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            <fieldset>
                <input class="form-control" id="readOnlyInput" type="text" value="@Html.DisplayFor(model => model.CreationDate)" readonly="">
            </fieldset>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            <fieldset>
                <textarea class="form-control" id="readOnlyInput" readonly="" rows="2">@Html.DisplayFor(model => model.Description)</textarea>
            </fieldset>
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            <fieldset>
                <textarea class="form-control" id="readOnlyInput" readonly="" rows="10">@Html.DisplayFor(model => model.Body)</textarea>
            </fieldset>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            <img src="@Url.Content("~/Photos/"+Model.Photo)" alt="IMAGES" height="250" width="250" />

        </dd>

    </dl>
</div>
@Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-dark" })
@Html.ActionLink("Back to List", "Index", "clsFile","", new { @class = "btn btn-dark" })
